<div class="sidebar-content">

    <div class="card mat-white-bg">

        <!-- SIDEBAR HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

            <!-- USER -->
            <img [src]="(user)?.avatar" class="avatar mr-16" [alt]="user.name"/>
            <span class="h5">{{(user)?.name}}</span>
            <!-- / USER -->

        </div>
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" fusePerfectScrollbar>

            <div class="nav">

                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')"
                       [ngClass]="{'active mat-accent-bg':filterBy ==='all'}">
                        <span class="title">   {{'CONT-SIDEBAR.All services' | translate}}</span>
                    </a>
                </div>

                <div class="nav-item" aria-label="starred" (click)="changeFilter('starred')">
                    <a class="nav-link" matRipple [ngClass]="{'active mat-accent-bg':filterBy ==='starred'}">
                        <div class="title">{{'CONT-SIDEBAR.Starred' | translate}}</div>
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->
