<mat-toolbar>
    <div
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutAlign.gt-xs="space-between center"
        fxFlex
    >
        <a
            href="https://etherlogic.gr"
            target="_blank"
            mat-button
            class="pink"
            fxFlex="0 0 auto"
            fxLayout="row"
            fxLayoutAlign="start center"
        >
            <span>EtherLogic</span>
        </a>
        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a
                mat-button
                target="_blank"
                href="http://angular-material.fusetheme.com"
                >Documentation</a
            >
            <span>&bull;</span>
            <a
                mat-button
                target="_blank"
                href="http://www.withinpixels.com/themes/fuse-github"
                >Github Repo</a
            >
            <span>&bull;</span>
            <a
                mat-button
                target="_blank"
                href="https://material.angular.io/components/categories"
                >Angular Material</a
            >
            <span>&bull;</span>
            <a
                mat-button
                target="_blank"
                href="https://github.com/angular/angularfire2/blob/master/docs/firestore/collections.md"
                >AngularFire2</a
            >
            <span>&bull;</span>
            <a
                mat-button
                target="_blank"
                href="https://console.firebase.google.com/project/etherlogistics-3675d/database/firestore/data~2Fcompanies~2FACC1"
                >Firebase</a
            >
        </div>
    </div>
</mat-toolbar>
